@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Radley:ital@0;1&display=swap');
/* global custom styles */
:root {
    --fs-title: 5rem;
    --fs-nav: 1.8rem;
}
@media screen and (max-width: 500px) {
    :root {
        --fs-title: 2.2rem;
    }
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100vh;
}
/* navigation styles */
nav {
    position: fixed;
    background-color: #723839;
    color: #EAEAEB;
    width: 100%;
    max-height: 30%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 7px;
    padding-top: 7px;
}
.nav-title {
    display: flex;
    align-items: center;
    gap: 1vw;
    font-family: "Radley";
    margin-left: 20px;
}
/* .nav-title img {
    max-height: 10vh;
    width: auto;
    object-fit: contain;
} */
.nav-title img {
    display: inline-block;
    vertical-align: middle;
}
.scale-title {
    margin: 0;
    font-size: var(--fs-title);
    line-height: 0.7;
    font-style: normal;
}
.nav-links {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    box-sizing: border-box;
    margin-left: 20%;
    margin-right: 20px;
    flex: 1 1 auto;
}
.nav-links span {
    font-family: "Andada Pro";
    font-size: var(--fs-nav);
    line-height: 1;
}
.link-icon-lowres{
    display: none; 
}
/* element to resize Logo */
.measure-span {
    visibility: hidden;
    position: absolute;
    white-space: nowrap;
    pointer-events: none;
}
/* For screens less than 768px */
@media screen and (max-width: 800px) {
    .nav-links {
        display: none;
    }
    .link-icon-lowres {
        display: block;
        width: auto;
        height: 6vh;
        margin-left: auto;
        margin-right: 20px;
    }
}
@media screen and (max-width: 600px) {
    nav {
        padding-bottom: 2px;
        padding-top: 2px;
    }
    .nav-title {
        margin-left: 10px;
    }
    .link-icon-lowres {
        margin-right: 10px;
    }
}
.content-body {
    background-color: #010100;
    color: #EAEAEB;
    flex: 1 1 auto;
}
/* Body styling */
.container {
    display: grid;
    grid-template-areas: 
    "leftbox" "middlebox"
    "rightbox"
    "footer footer footer";
      grid-template-columns: 1fr 3fr 1fr;
    padding: 30px;
    background-color: #723839;
}

.container div {
    text-align: center;
    background-color: aquamarine;
    padding: 20px;
    margin: 20px;
}