@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Radley:ital@0;1&display=swap');
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100vh;
}
/* navigation styles */
nav {
    position: fixed;
    background-color: #723839;
    color: #EAEAEB;
    width: 100%;
    display: flex;
}
.nav-links li {
    list-style: none;
}
.link-icon-lowres img {
    width: auto;
    height: 3vh;
    flex-shrink: 0;
}
.content-body {
    background-color: #010100;
    color: #EAEAEB;
    flex: 1 1 auto;
}
/* Body styling */
.container {
    display: grid;
    grid-template-areas: 
    "leftbox" "middlebox"
    "rightbox"
    "footer footer footer";
      grid-template-columns: 1fr 3fr 1fr;
    padding: 30px;
    background-color: #723839;
}

.container div {
    text-align: center;
    background-color: aquamarine;
    padding: 20px;
    margin: 20px;
}

.leftbox {
    grid-area: leftbox;
}
.middlebox {
    grid-area: middlebox;
}
.rightbox {
    grid-area: rightbox;
}
.footer {
    grid-area: footer;
}